.idea/
.venv/
__pycache__/
ui/__pycache__/
*.pyc
*.pyo
*.pyd

tasks.db
post_layout0001.png
ui_check.png
focus_check.png
caret_check.png
*_check.png
*_check*.png
text_visibility_check*.png

.kivy/
*.log
.buildozer/
.venv-linux/
bin/
Python-3.11.5.tgz
setuptools-51.3.3.tar.gz
